body {
      font-family: Arial, sans-serif;
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
    }

#paragraph-container {
      min-height: 100px;
      border: 1px solid #d4d1d1;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 5px;
      background-color: #fbf3f3;
    }

 button {
      padding: 10px 20px;
      margin-right: 20px;
      background-color: #6276cb;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }

 button:hover {
      background-color: #6bc164;
    }